<div style="background-color: gray; justify-content: space-between; ">
<h2 style= "padding: 40px; width: 100%; margin-top: 30px; ">COPYRIGHT &#169; <span style="color: red;">Market</span>
<i style="color: aliceblue;padding-left: 700px; font-size: 30px;"class="fa-brands fa-facebook"></i>
<i style="color: aliceblue;padding-left: 20px;font-size: 30px;"class="fa-brands fa-github"></i>
<i style="color: aliceblue;padding-left: 20px;font-size: 30px;"class="fa-brands fa-linkedin"></i>
<i style="color: aliceblue;padding-left: 20px;font-size: 30px;"class="fa-brands fa-twitter"></i>
</h2>
</div>
