<div class="body-home">
<div class="row">
    <div class="col col-12 col-md-4 col-lg-3" *ngFor= "let good of goods ; index as i">
        <div class="card" style="width: 18rem;">
            <img [src]= "good.photourl" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{good.name | titlecase}}</h5>
              <p class="card-text">{{good.price | currency}}</p>
              <button class="btn btn-primary">Add to card</button>
              <span class="fa fa-star red-color" class="icon"></span>
                <span class="fa fa-star red-color"></span>
                <span class="fa fa-star red-color"></span>
                <span class="fa fa-star red-color"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
             </div>
          </div>
    </div>
</div>
</div>
