nav{
    background:linear-gradient(to right, #950b06,#440606);
    color: #fff;
}
   .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
   }
   h2{
    margin: 10px;
    padding-left: 30px;
   }

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

li{
    cursor: pointer;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin-right: 20;
    padding-right: 40px;
}

